</main>
<script>
  window.exports = window.exports || {};
  exports.urlPrefix = "<%= urlPrefix %>";
  exports.user = <%- JSON.stringify(user) %>;
</script>
<script src="<%= urlPrefix %>/lib/bulma-webapp-js/cityssm.min.js"></script>
<!-- <script src="<%= urlPrefix %>/lib/date-diff/date-diff.min.js"></script> -->
<script src="<%= urlPrefix %>/javascripts/main.min.js"></script>
<script src="<%= urlPrefix %>/lib/fa5/js/all.min.js" defer></script>
