<!DOCTYPE html>
<html class="has-background-white-ter" lang="en">

<head>
  <title>
    <%= (headTitle === "" ? "" :  headTitle + " - ") + configFns.getProperty("application.applicationName") %>
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="<%= urlPrefix %>/stylesheets/style.min.css" />
</head>

<body>
  <nav class="navbar is-dark">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold" href="<%= urlPrefix %>/dashboard">
        <%= configFns.getProperty("application.applicationName") %>
      </a>
      <a class="navbar-burger" id="navbar-burger" role="button" href="#navbar-menu" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="<%= urlPrefix %>/reports">
          <span class="icon"><i class="fas fa-file" aria-hidden="true"></i></span>
          <span>Reports</span>
        </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="<%= urlPrefix %>/logout">
          <span class="icon"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>
          <span>Log Out <%= user.userName %></span>
        </a>
      </div>
    </div>
  </nav>
  <main class="p-3">
